services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: trading
    ports: ["5432:5432"]
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql

  kafka:
    image: redpandadata/redpanda:latest
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      # Listen on two interfaces/ports:
      - --kafka-addr
      - "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:19092"
      # Advertise different addresses for each:
      - --advertise-kafka-addr
      - "INTERNAL://kafka:9092,EXTERNAL://localhost:19092"
    ports:
      - "9092:9092"
      - "19092:19092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    ports: ["8088:8080"]
    depends_on: [kafka]
